*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

h3{
  text-align: center;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top:100px;
}
a{
  text-decoration: none;
}
/* header area with mountains and my name displayed across the image */
header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav-bar"
    "my-name";
  width: 100%;
  height: 500px;
  background: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  image-rendering: -webkit-optimize-contrast;
  
}
.my-name{
  grid-area: my-name;
}
.my-name h1{
  text-align: center;
  font-weight: normal;
  color:#d8e4ff;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  letter-spacing: 10px;
  
}

/*------------------------------------------------*/


/* this is where the navigation bar is including name as logo
and all the links to the sections of the website*/
.nav-bar-grid{
  grid-area: nav-bar;
  
}
.nav-bar-flex{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  position: fixed;
  z-index: 3;
  text-transform: uppercase;
  
  
}
.nav-bar-flex h2{
  width: 300px;
  
  font-size: 20px;
  letter-spacing: 6px;
  color: black;
  font-family: 'Permanent Marker', cursive;
  
  color: white;
  
}
.nav-bar-flex ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-right: 300px;
  
  
  
}
.nav-bar-flex ul li{
  color: white;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  letter-spacing: 5px;
  padding: 5px 5px;
  text-transform: capitalize;
  text-transform: uppercase;
  
}
/*-----------------------------------------------*/


/* this is the about me section */
.about-me h3{
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-me-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  height:325px;
  margin: 20px auto auto auto;
  
}
.about-me-box img{
  width:50%;
  border-radius: 100%;
  
}

.about-me-box p{
  margin-top: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/*--------------------------*/

/* this is the section for projects*/

.project-flex{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 40px;
  justify-content: center;
  position: relative;
}
.project-flex .box{
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 350px;
  
}

.project-flex .box .image-box{
  position: absolute;
  top:0;
  left:0;

}
.project-flex .box:hover .image-box{
  opacity: 0.2;
}

.project-flex .box .image-box img{
  position: absolute;
  top:0;
  left:0;
  width:350px;
  height: 250px;
  object-fit: cover; 
}
.project-flex .box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items:flex-start; 
  
}
.project-flex .box .content div{
  width:100%;
}
.project-flex .box .content div p{
  text-align: center;
  width:100%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  transition: 0.5s;
  transform: translateY(300px);
  margin-bottom: 5px;
}
.project-flex .box .content div h4{
  text-align: center;
  width:100%;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  letter-spacing: 3px;
  color: black;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  transform: translateY(300px);
}

.project-flex .box:hover .content h4{
  transform: translateY(0px);
  
}

.project-flex .box:hover .content p{
  transform: translateY(0px);
  
}
.project-flex .box .content div i{
  color: black;
  transition: 0.5s;
  transform: translateY(300px);
  
}
.project-flex .box .content div .icons{
  margin-top:30px;
  
}
.project-flex .box:hover .content i{
  transform: translateY(0px);
  
}

/* ---------------------------------- */



/* this is the work section of the page */
.work p{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  margin: auto;
  justify-items: center;
  grid-row-gap: 20px;
}
/* ---------------------------------- */

/*education section of the page */
.education p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight:bolder;
  letter-spacing: 2px;
  text-align: center;
 
}
.education p img{
  text-align: center;
}

/* this is where the footer goes */
footer{
  width: 100%;
  height: 120px;
  background-color: black;
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
footer p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  
}
.email{
  margin-top:10px;
}
.bottom-icon i{
  color: white; 
  text-align: center;
  margin-top:10px;
}

/*----------------------*/

/*-----*/
.nav-scrolled{
  background-color: black;
}

