*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
/* header area with mountains and my name displayed across the image */
header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav-bar"
    "my-name";
  width: 100%;
  height: 500px;
  background: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  image-rendering: -webkit-optimize-contrast;
}
.my-name{
  grid-area: my-name;
}
.my-name h1{
  text-align: center;
  font-weight: normal;
  color:#d8e4ff;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  letter-spacing: 10px;
  
}

/*------------------------------------------------*/


/* this is where the navigation bar is including name as logo
and all the links to the sections of the website*/
.nav-bar-grid{
  grid-area: nav-bar;
}
.nav-bar-flex{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  position: fixed;
}
.nav-bar-flex h2{
  width: 300px;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  letter-spacing: 10px;
  
}
.nav-bar-flex ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-right: 300px;
  
}
.nav-bar-flex ul li{
  color:#0D2818;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 15px;
  letter-spacing: 5px;
  padding: 5px 5px;
  
}
/*-----------------------------------------------*/


/* this is the about me section */
.about-me h3{
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  letter-spacing: 5px;
}
.about-me-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:30%;
  height:325px;
  
  margin: 20px auto auto auto;
  
  
  
}
.about-me-box img{
  width:50%;
  border-radius: 100%;
  
}

.about-me-box p{
  margin-top: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

/*--------------------------*/

/* this is the section for projects*/
.projects h3{
  text-align: center;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.project-flex{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 40px;
  justify-content: center;
  
}
.proj1{
  
}
.proj2{
  justify-self: center
}

