*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

h3{
  text-align: center;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  
  padding-top: 100px;
  margin-top: -100px;
}
a{
  text-decoration: none;
}
/* header area with mountains and my name displayed across the image */
.big-image{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "nav-bar"
    "my-name";
  width: 100%;
  height: 500px;
  background: url(images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  image-rendering: -webkit-optimize-contrast;
  margin-bottom: 30px;
  
}
.my-name{
  grid-area: my-name;
}
.my-name h1{
  text-align: center;
  font-weight: normal;
  color:#d8e4ff;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  letter-spacing: 10px;
  
}

/*------------------------------------------------*/


/* this is where the navigation bar is including name as logo
and all the links to the sections of the website*/
header .logo{
  height: 60px;
  line-height: 60px;
  float: left;
  font-weight: bold;
  margin-top: 5px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  letter-spacing: 6px;
  font-size: 20px;
  transition: 0.5s;
}
header .logo:hover{
  color: aqua;
}
header{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    padding: 0 80px;
    box-sizing: border-box;
    z-index: 50;
    background-color: black;
    height: 65px;
    
}


header nav{
  float:right;
}
header nav ul{
  margin: 0;
  padding: 0;
  display: flex; 
  
  
 
}
header nav ul li{
  list-style: none;
  position: relative;
  width:160px;
	
}
header nav ul li a{
  height: 65px;
  line-height: 65px;
  padding: 0 20px;
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 5px;
  text-align: center;
  transition: 0.5s;
  
}
header nav ul li:hover a{
  color: aqua;
}
header nav ul .sub-menu:before{
  content: '\f0d7';
  font-family: FontAwesome;
  font-style: normal;
  position: absolute;
  line-height: 65px;
  color: #fff;
  right:5px;
}
.menu-toggle{
  color:#fff;
  float: right;
  line-height: 65px;
	height: 65px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/*-----------------------------------------------*/


/* this is the about me section */
.about-me, .projects, .education, .work{
  margin-bottom: 100px;
}


.about-me-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  margin: 20px auto auto auto;
  
}
.about-me-box img{
  width:50%;
  border-radius: 100%;
  
}

.about-me-box p{
  margin-top: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  line-height: 25px;
}

/*--------------------------*/

/* this is the section for projects*/

.project-flex{
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.project-flex .box{
  position: relative;
  overflow: hidden;
  max-height: 250px;
  max-width: 350px;
  margin: 50px 50px;
  height: 250px;
  width: 350px;
}

.project-flex .box .image-box{
  position: absolute;
  top:0;
  left:0;

}
.project-flex .box:hover .image-box{
  opacity: 0.2;
}

.project-flex .box .image-box img{
  position: absolute;
  top:0;
  left:0;
  width:350px;
  height: 250px;
  object-fit: cover; 
  max-height: 250px;
  max-width: 350px;
}
.project-flex .box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items:flex-start; 
  
}
.project-flex .box .content div{
  width:100%;
}
.project-flex .box .content div p{
  text-align: center;
  width:100%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight:bolder;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  transition: 0.5s;
  transform: translateY(300px);
  margin-bottom: 5px;
}
.project-flex .box .content div h4{
  text-align: center;
  width:100%;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  letter-spacing: 3px;
  color: black;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  transform: translateY(300px);
}

.project-flex .box:hover .content h4{
  transform: translateY(0px);
  
}

.project-flex .box:hover .content p{
  transform: translateY(0px);
  
}
.project-flex .box .content div i{
  color: black;
  transition: 0.5s;
  transform: translateY(300px);
  
}
.project-flex .box .content div .icons{
  margin-top:30px;
  
}
.project-flex .box:hover .content i{
  transform: translateY(0px);
  
}

/* ---------------------------------- */



/* this is the work section of the page */
.work div{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
  margin: auto;
  align-items:center;
}
.work div i{
  margin: 20px;
}
/* ---------------------------------- */

/*education section of the page */
.education p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight:bolder;
  letter-spacing: 2px;
  text-align: center;
 
}
.education p img{
  text-align: center;
}

/* this is where the footer goes */
footer{
  width: 100%;
  height: 120px;
  background-color: black;
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
footer p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
  
}
.email{
  margin-top:10px;
}
.bottom-icon i{
  color: white; 
  text-align: center;
  margin-top:10px;
}
footer div{
  display: flex;
  justify-content: center;
  flex-direction:row;
}
footer div a{
  margin-right:10px;
}

/*----------------------*/

/*-----*/
.nav-scrolled{
  background-color: black;
  
}
.burger{
  position: absolute;
  top:1.2rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height: 21px;
}
.burger .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius:10px;
}


@media only screen and (max-width:1190px){
  .burger{
    display: flex;
  }
  
  nav ul{
    display: flex;
    flex-direction: column;  
  }
  nav ul li{
    display: block;
  }
  .nav-bar-flex{
    height: 60px;
  }
  
}
@media only screen and (max-width:836px){
  .about-me-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin: 20px auto auto auto;
  }
  
}
@media only screen and (max-width:450px){
  .project-flex .box .image-box img{
    width: 275px;
    height: 250px;
  }
}
@media (max-width:1290px){
  main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: env(safe-area-inset);
    overflow: hidden;
  }
  header{
    padding: 0 20px;
    
  }
  .menu-toggle{
    display: block;
  }
  nav{
    display: block;
  }
  header nav{
    position: absolute;
    width: 100%;
    height: calc(100vh - 65px);
    background: #333;
    top:65px;
    left:-100%;
    transition: 0.5s;
  }
  header .active{
    left:0px;
  }
  header nav ul{
    display: block;
    text-align: center;
  }
  header nav ul li{
    margin: 0;
    width: 100%;
  }	
  
  header nav ul li a{
    height: 60px;
    line-height: 60px;
  }
  #extra{
    display: none;
  }
}
